<div class="scrollable">
  	<div class="scrollable-content allcat">
		<br>
		<div class="well" ng-show="$storage.customer_id != '0'"> Customer Name : {{$storage.customer_name}} <br> Delivery Date : {{$storage.order_deliverydate}}</div>
		
		<div class="alert alert-danger" ng-show="$storage.customer_id == '0'"> No Customer Selected.</div>
		 <ul class="liSelection">
			<li ng-repeat = "category in allcategories" >
				<a href="#/category/{{category.categoryid}}" ng-show="category.categoryid != '8'">{{category.categoryname}}</a>
				<a href="#/cupcakecategory/{{category.categoryid}}" ng-show="category.categoryid == '8'">{{category.categoryname}}</a>
			</li>
		</ul>
		<div class="col-xs-12">
				<br><br>
		</div>
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" style="opacity: 1; !important" ng-click="go('/home')" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>




