<div class="scrollable">
  	<div class="scrollable-content category">
		<br>
		<span ng-show="!loader">
		<span ng-show="products.length != 1">
			<br>
			<div class="col-xs-12">
			<div class="tit" ng-show="$storage.customer_id != '0'"> Customer Name : {{$storage.customer_name}} <br> Delivery Date : {{$storage.order_deliverydate}}</div>
			<div class="alert alert-danger" ng-show="$storage.customer_id == '0'"> No Customer Selected.</div>
			</div>
			
			<!-- Product Name-->
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Flavor</label>
				<div class="col-xs-12">
					<select name ="productname" class="form-control" ng-change = "changeproductdetail()"  ng-model="productname" ng-options="product.productname for product in products ">
					</select>
				</div>
			</div>
			
			<span ng-show="showdetails">
			<!-- Qty -->
			<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Quantity</label>
			<div class="col-xs-12 quantity">
				<div class="col-xs-2 right">
				<button type="button" class="btn btn-success btn-block btn-xs" ng-click='incdec("-1")'  style="opacity: 1; !important" ><i class="fa fa-minus-circle"></i></button>
				</div>
				<div class="col-xs-8">
				<input type="text" class="form-control" name="count" id="count" ng-model= 'qty' value="1" style="text-align:center;">
				</div>
				<div class="col-xs-2 left">
					<button  type="button" class="btn btn-success btn-block btn-xs" ng-click='incdec("+1")'  style="opacity: 1; !important" ><i class="fa fa-plus-circle" ></i></button>
				</div>	
			</div>
			</div>
			
			<!-- Weight -->
			<div class="form-group" ng-show="details.has_weight == 'Y'">
				<label for="inputEmail" class="col-xs-12 control-label">Weight</label>
				<div class="col-xs-12">
					<input class="form-control" style="width:49%;float:left;margin-right:1%;"  type = "number" id="weight" value="1" ng-model="weight" ng-blur="changeotherdetail()">
					<select class="form-control" style="width:50%;float:right;" ng-model="weightoptions" ng-change="changeotherdetail()">
						<option value="kgs">Kgs</option>
						<option value="gms">Gms</option>
					</select>
				</div>
			</div>
			
			<!-- Options -->
			<div class="form-group" ng-show="details.option_id != ''">
				<label for="inputEmail" class="col-xs-12 control-label">{{details.option_name}}</label>
				<div class="col-xs-12">
					<select class="form-control" name ="alloptions" ng-change="changeoption()" ng-model="alloptions" ng-options="optns.value_name for optns in productname.productoptions ">
					</select>
				</div>
			</div>
			
			<!-- Other Text Box-->
			<div class="form-group" ng-show = "otherbox == '1'">
				<label for="inputEmail" class="col-xs-12 control-label">Other</label>
				<div class="col-xs-12">
					<input class="form-control" type = "text"  ng-model="other">
				</div>
			</div>
			
			<!-- Price Type -->
			<div class="form-group" ng-show="flatprc == 0">
				<label for="inputEmail" class="col-xs-12 control-label">Price Type</label>
				<div class="col-xs-12">
					<select class="form-control" name ="prices" ng-change="changeotherdetail()"  ng-model="prices" ng-options="pricetypes.pricetype_name for pricetypes in productname.pricetype ">
					</select>
				</div>
			</div>
			
			<div class="form-group" ng-show="flatprc == 1">
				<label for="inputEmail" class="col-xs-12 control-label">Price Type</label>
				<div class="col-xs-12">
					<select class="form-control" name ="prices" ng-change="changeotherdetail()" ng-model="prices" ng-options="pricetypes.pricetype_name for pricetypes in productname.flatprice ">
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Amount</label>
				<div class="col-xs-12">
					<input class="form-control" readonly type = "text"  ng-model="totalprice">
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Additional Amount</label>
				<div class="col-xs-12">
					<input class="form-control" type = "number" ng-model="additionalamt">
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Specification</label>
				<div class="col-xs-12">
					<textarea class="form-control" ng-model="specification" placeholder = "Further Specification"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-xs-12">
					<br>
					<button class="btn btn-success" style="opacity: 1; !important" ng-click ="callfn()"> Browse Photo from Gallery </button>
				</div>	
				<div class="col-xs-12">
					<br>
					<img style="width:150px;height:150px;display:none;" id="myImage" />
				</div>
			</div>
			
			<div class="form-group mt">
				<div class="col-xs-12">
					<a class="btn btn-success btn-block" style="opacity: 1; !important" ng-click="collectselections()">Add To cart</a>
				</div>
			</div>
			
			<div class="col-xs-12">
				<br><br>
			</div>
			</span>
			
		</span>
		
		<span ng-show="products.length == 1">
			<p class="noresults">No Flavors found in this category.</p>
		</span>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
		
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" style="opacity: 1; !important" ng-click="go('/home')" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>




