<div class="scrollable">
  	<div class="scrollable-content cupcake">
		<br>
		<span ng-show="!loader">
		<span ng-show="products.length != 0">
			<!-- Product Name-->
			<br>
		<div class="tit" ng-show="$storage.customer_id != '0'"> Customer Name : {{$storage.customer_name}} <br> Delivery Date : {{$storage.order_deliverydate}}</div>
			<div class="alert alert-danger" ng-show="$storage.customer_id == '0'"> No Customer Selected.</div>
			<br>
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Size</label>
				<div class="col-xs-12">
					<select class="form-control" name ="productname" ng-change = "changeproductdetail()"  ng-model="productname" ng-options="product.productname for product in products ">
					</select>
				</div>
			</div>
            
            <!--QTY-->
            <div class="form-group cup">
                <label for="inputEmail" class="col-xs-12 control-label">Qty</label>
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-success btn-block btn-xs" ng-click="incdecqty('-1')" ><i class="fa fa-minus-circle"></i></button>
                    </div>
                    
                    <div class="col-xs-2">
                        <input type="text" class="form-control" value="1" style="text-align:center;" ng-model="totalqty">
                            </div>
                    
                    <div class="col-xs-2">
                        <button  type="button" class="btn btn-success btn-block btn-xs" ng-click="incdecqty('+1')" ><i class="fa fa-plus-circle" ></i></button>
                    </div>
                </div>
            </div>
            
            
            <!--QTY-->
			
			<div class="form-group cup">
				<label for="inputEmail" class="col-xs-12 control-label">{{details.option_name}}</label>
				<div class="col-xs-12" ng-repeat = "options in flavors" >
					<div class="col-xs-4">
						<div class="checkbox">
						<input type="checkbox" name="selected"  ng-checked="isSelected(options.value_id)"
						ng-click="updateSelection($event, options.value_id)" style="opacity: 1; !important"> {{options.value_name}} 
						</div>
					</div>
					
					<div class="col-xs-2">
						<button type="button" class="btn btn-success btn-block btn-xs" ng-click='incdec1("-1",options.value_id)' style="opacity: 1; !important"><i class="fa fa-minus-circle"></i></button>
					</div>
					
					<div class="col-xs-2">
					<!--<span id="count_{{options.value_id}}">1</span> -->
					<input type="text" class="form-control" id="count_{{options.value_id}}" value="1" style="text-align:center;">
					</div>
					
					<div class="col-xs-2">
					<button  type="button" class="btn btn-success btn-block btn-xs" ng-click='incdec1("+1",options.value_id)'  style="opacity: 1; !important" ><i class="fa fa-plus-circle" ></i></button>
					</div>
					
					<div class="col-xs-2" style="text-align:center;margin-top:8px;">
						<div>
						Rs. {{options.price}}
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Price Type</label>
				<div class="col-xs-12">
					<select name ="prices" class="form-control" ng-change="changepricetype()" ng-model="prices" ng-options="pricetypes.pricetype_name for pricetypes in productname.pricetype ">
					</select>
				</div>
			</div>
		
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Amount</label>
				<div class="col-xs-12">
					<input class="form-control" readonly type = "text"  ng-model="totalprice">
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Additional Amount</label>
				<div class="col-xs-12">
					<input class="form-control" type = "number" ng-model="additionalamt">
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Specification</label>
				<div class="col-xs-12">
					<textarea class="form-control" ng-model="specification" placeholder = "Further Specification"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-xs-12">
					<br>
					<button class="btn btn-success" ng-click ="callfn()" style="opacity: 1; !important"> Browse Photo from Gallery </button>
				</div>	
				<div class="col-xs-12">
					<br>
					<img style="width:150px;height:150px;display:none;" id="myImage" />
				</div>
			</div>
			
			<div class="form-group mt">
				<div class="col-xs-12">
					<a class="btn btn-success btn-block" ng-click="collectselections()" style="opacity: 1; !important" >Add To cart</a>
				</div>
			</div>
			
		</span>
		
		<span ng-show="products.length == 0">
			<p class="noresults">No Flavors found in this category.</p>
		</span>
		<div class="col-xs-12">
			<br><br>
		</div>
		</span>
		
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
		
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" ng-click="go('/home')" style="opacity: 1; !important" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>




