<div class="scrollable cust">
  	<div class="scrollable-content hme">
        
		<span ng-show="!loader">
		<span ng-show="$storage.customer_id != 0">
			<br>
			<div class="tit" ng-show="$storage.customer_id != '0'"> Customer Name : {{$storage.customer_name}} <br>
			Delivery Date : {{$storage.order_deliverydate}}
			</div>
			<button class="btn btn-success col-sm-12 hmebtn" style="opacity: 1; !important" ng-click="resetcart()">Reset</button>
		</span>
		
		<span ng-show="$storage.customer_id == '0'">
			<div class="bg calendar">
				<div class="form-group">	
					<!-- <label for="inputName" class="col-xs-12 control-label">Delivery Date</label> -->
					<div class="col-xs-12 home">
							<div class="input-group">
							<input type="text" ng-change="changedate()" class="form-control" readonly datepicker-popup="dd-MM-yyyy" id="start" name="start" ng-model="delivery_date" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" required date-disabled="disabled(date, mode)"  close-text="Close" />
							<span class="input-group-btn">
							 <button type="button" class="btn btn-default" ng-click="dateopen($event)"><i class="fa fa-calendar"></i></button>
                             
                             
							</span>
                            
                        
							</div>
					</div>
                    
				</div>
              
			</div>
            
			<div class="col-xs-12 homebtn" style="padding-left:0px;padding-right:0px;">	
				<button class="btn btn-block btn-success-line" style="opacity: 1; !important" ng-click="getorders()">Check Orders</button>
			</div>
		</span>
		
		<span ng-show="$storage.customer_id == '0'">
		<!-- Auto Complete-->
		<div class="col-xs-12 clearfix custsrc" style="padding-left:0px;padding-right:0px;">
				<div class="col-xs-10">
					<!-- <p>Customer Search (Minimum 4 digits)</p> -->
					<div mass-autocomplete>
						<input type="tel" class="form-control" ng-model="dirty.value" placeholder="Customer Search (Minimum 4 digits)" mass-autocomplete-item="ac_options_users">
					</div>
				</div>
				<div class="col-xs-2"><button class="btn btn-block btn-success" style="opacity: 1; !important" ng-click="open()"><i class="fa fa-plus-circle"></i></button>
				</div>
		</div>
		
		<div class="col-xs-12 selcust">
			<span ng-show="customername.length !=0 ">
				<div class="col-xs-10">
					<div class="well">
						<div class="slcu col-xs-12"><b>Selected Customer : </b>{{customername}}</div>
						<div class="col-xs-12">
							<button class="btn btn-success" ng-show="proceed" style="opacity: 1; !important"  ng-click="proceed()">Proceed to Order</button>
						</div>
					</div>
				</div>
			</span>
		 </div>
		 
		 <!-- End Of Auto Complete-->
		 </span>
		 
		 <!-- Modal Box -->
		<script type="text/ng-template" id="myModalContent.html">
			
        <div class="modal-header">
            <h3 class="modal-title">New Customer</h3>
        </div>
        
        <div class="modal-body login">
           <form  name="customerform" role="form" novalidate>
  	 	
			<p></p>
	  
  		<div class="form-group">
			<div class="col-xs-12">
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control " id="customers_name" name="customers_name" placeholder="* Customer Name" ng-model="formInfo.customers_name"  value="" ng-required="true" > 		
				</div>    		
    		</div>
    		<span  class= "inerror col-xs-12" ng-show="customerform.customers_name.$touched && customerform.customers_name.$error.required">Please enter Customer Name</span> 
  	   </div>
  	   
  		
  		<div class="formpadd clearfix"></div>
  		
  		<div class="form-group">    		
			<div class="col-xs-12">
				<div class="input-group ">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone"></i></span>
					<input type="number" class="form-control " id="customers_mobile" name="customers_mobile" placeholder="* Mobile No" ng-model="formInfo.customers_mobile" value="" ng-required="true"> 		
    			</div>
    		</div>
    		<span  class= "inerror col-xs-12" ng-show="customerform.customers_mobile.$touched && customerform.customers_mobile.$error.required">Please enter Mobile No.</span> 
  		</div>
  		
  		<div class="formpadd clearfix"></div>
  		
  		<div class="form-group">
    		<div class="col-sm-12 padd-btn">
				<button type="submit" class="btn btn-info btn-color sub-btn btn-block col-sm-12" ng-click="submitTheForm()" style="opacity: 1; !important" ng-disabled="customerform.$invalid">Submit</button>
    		</div>
  		</div>
  		
  		<div class="formpadd clearfix"></div>
  		
		</form>
		
        </div>
        <div class="modal-footer login-btn">
            <button class="btn btn-success" style="opacity: 1; !important" ng-click="cancel()">Cancel</button>
        </div>
		</script>
		
		<!-- End Of Modal Box -->
		</span>
		
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
	</div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom" ng-show="showfooter">
    <div class="btn-group justified">
		<div ng-repeat = "order in $storage.orders">
			<div class="padd">
				<a href="#/categoryorder/{{order.categoryid}}/{{order.categoryname}}" style="opacity: 1; !important">{{order.categoryname}} ({{order.count}})</a>
			</div>
		</div>
	
	</div>
</div>




