<div class="scrollable">
  	<div class="scrollable-content cancelled">
		<br>
		<span ng-show="!loader">
				<p></p>
				<div class="alert alert-success">Delivery Date : {{deliverydate}}</div>
				<div class="col-xs-12"><br></div>
				<div class="col-xs-12 veiwcredit rowmargin" ng-repeat="order in orders">	
					<a href="#/orderdetail/{{order.orderid}}" style="text-decoration:none;opacity: 1 !important;" >
					<div class="subtit">
						<div class="detail">
							Order No : {{order.orderid}}
						</div>
						<div class="detail">
							Customer Mobile no : Rs. {{order.mobileno}}
						</div>
						<div class="detail">
							Order Total : Rs. {{order.ordertotal}}
						</div>
						<div class="detail">
							Order status : {{order.ordersstatus}}
						</div>
					</div>
					</a>
				</div>
				<div class="col-xs-12">
				<br><br>
				</div>
				<p class="noresult" ng-show="orders.length == 0">No Orders.
				</p>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" style="opacity: 1; !important" ng-click="go('/home')" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>
