<div class="scrollable">
  	<div class="scrollable-content">
		<span ng-show="!loader">
		<form  name="creditform" role="form" novalidate>
			<p></p>
			<!-- Auto Complete-->
			<div class="form-group">
					<label for="mobileno" class="col-xs-12 control-label"> Customer Search (Minimum 4 digits)</label>
					<div class="col-xs-12">
						<div mass-autocomplete>
							<input type="tel" class="form-control" ng-model="dirty.value" mass-autocomplete-item="ac_options_users" id="customerno">
						</div>	
					</div>
			</div>
			
			<div class="formpadd clearfix"></div>
			<!--
			<div class="form-group">
				<label for="mobileno" class="col-xs-12 control-label"> Credit No.</label>
				<div class="col-xs-12">
					<input type="text" class="form-control " id="creditno" name="creditno" placeholder="* Credit No" ng-model="formInfo.creditno"  value="" ng-required="true" > 				
				</div>
					<span  class= "inerror col-xs-12" ng-show="creditform.creditno.$touched && creditform.creditno.$error.required">Please enter Credit No.</span> 
			</div>
			-->
			
			<div class="form-group">   
				
			<div class="form-group">	
				<label for="mobileno" class="col-xs-12 control-label"> Amount Type</label>
				<div class="col-xs-2">	
  				 <input type="radio" ng-model="type" name="amounttype" value="c" > <label for="inputName">Credit </label> 
  				 </div>
				<div class="col-xs-2">				
				 <input type="radio" ng-model="type" name="amounttype" value="d" > <label for="inputName">Debit </label> 
				</div>	
			</div>
			
			</div>
			
			<div class="formpadd clearfix"></div>
			<div class="form-group">
				<label for="mobileno" class="col-xs-12 control-label"> Amount.</label>
				<div class="col-xs-12">
					<input type="number" class="form-control " id="amount" name="amount" placeholder="* Amount" ng-model="formInfo.amount"  value="" ng-required="true" > 				
				</div>
					<span  class= "inerror col-xs-12" ng-show="creditform.amount.$touched && creditform.amount.$error.required">Please enter Amount.</span> 
			</div>
			
			<div class="formpadd clearfix"></div>
			<div class="form-group">
				<div class="col-sm-12">
				<button type="button" class="btn btn-info btn-color sub-btn btn-block" style="opacity: 1; !important"  ng-click="submitTheForm()" ng-disabled="creditform.$invalid">Add</button>
				</div>
			</div>
  		</form>
  		<div class="col-xs-12">
				<br><br>
			</div>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" ng-click="go('/home')" style="opacity: 1; !important" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>


