<div class="scrollable">
  	<div class="scrollable-content">
		<div class="form-group">
				<div class="col-xs-12">
					<br>
					<button class="btn btn-success" ng-click ="callfn()"> Browse Photo from Gallery </button>
				</div>	
				<div class="col-xs-12">
					<br>
					<img style="width:150px;height:150px;display:none;" id="myImage" />
				</div>
		</div>
		
		<button class="btn btn-success" ng-click ="uploaddemo()"> Upload </button>
	</div>
</div>
