<div class="scrollable">
  	<div class="scrollable-content veiwcredit">
		
		<span ng-show="!loader">
			<span ng-show="!showhistory">
			<br>
			<!-- Auto Complete-->
			<div class="form-group">
				<label for="mobileno" class="col-xs-12 control-label"> Customer Search (Minimum 4 digits)</label>
				<div class="col-xs-12">
					<div mass-autocomplete>
						<input type="tel" class="form-control" ng-model="dirty.value" mass-autocomplete-item="ac_options_users">
					</div>
				</div>
				
			
			</div>
			<div class="formpadd clearfix"></div>
			<div class="form-group">
				<div class="col-xs-12"><button type="submit" class="btn btn-info btn-color sub-btn btn-block" ng-click="submitTheForm()" style="opacity: 1; !important">Submit</button>
				</div>
			</div>
			
			<!-- End Of Autocomplete
			<div class="form-group">
    		<div class="col-sm-12 padd-btn">
				<button type="submit" class="btn btn-info btn-color sub-btn btn-block col-sm-2" ng-click="submitTheForm()" >Submit</button>
    		</div>
			</div> -->
			
			</span>
			
			<span ng-show="showhistory">
				<div class="subHeader"><a ng-click="refresh()" style="opacity: 1; !important" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;&nbsp;</i></a><h2>Back</h2></div>
				<div class="col-xs-12">
				<div class="tit"> Customer Name : {{customername}} <br> Total Credit : Rs. {{credit_balance}}</div>
				</div>
				<div class="col-xs-12 rowmargin" ng-repeat="credit in creditlist">	
					<div class="subtit">
						<div class="detail" ng-show="credit.orderid == '0'">
								Counter Sales
						</div>
						
						<div class="detail" ng-show="credit.orderid != '0'">
								Order No : {{credit.orderid}}
						</div>
						
						<div class="detail" ng-show="credit.creditamount != '0.0'">
								Credit Amount : Rs. {{credit.creditamount}}
						</div>
						<div class="detail" ng-show="credit.debitamount != '0.0'">
								Debit Amount : Rs. {{credit.debitamount}}
						</div>
						
						<div class="detail">
								Date : {{credit.creditdate}}
						</div>
					</div>
				</div>
			<!-- <p class="noresult" ng-show="creditlist.length == 0"> No Results found.</p> -->
			</span>
			<div class="col-xs-12">
				<br><br>
			</div>
			
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" ng-click="go('/home')" style="opacity: 1; !important" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>


