<!DOCTYPE html>
<html ng-app="lsdApp">
<head>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css"/>
    <link rel="stylesheet" href="css/mobile-angular-ui-base.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/massautocomplete.theme.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="js/libs/angularjs-datetime-picker.css"/>

    <!-- SPELLS -->
    <script src="js/libs/angular.min.js"></script>

    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/libs/ng-storage.js"></script>
    <script src="js/libs/angular-touch.js"></script>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/massautocomplete.js"></script>
    <script src="js/libs/mobile-angular-ui.min.js"></script>
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/angularjs-datetime-picker.js"></script>


    <script type="text/javascript" src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/categoryController.js"></script>
    <script src="js/cupcakeController.js"></script>
    <script src="js/shoppingcartController.js"></script>
    <script src="js/pendingordersController.js"></script>
    <script src="js/ordersController.js"></script>
    <script src="js/orderdetailController.js"></script>
    <script src="js/pendingorderdetailController.js"></script>
    <script src="js/creditnoteController.js"></script>
    <script src="js/viewcreditController.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/allcategoriesController.js"></script>
    <script src="js/getordersController.js"></script>
    <script src="js/signupController.js"></script>

    <script type="text/javascript" src="js/index.js"></script>


</head>

<!-- define angular controller -->

<body>
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <h1 class="app-name">Navigation</h1>

    <div class="scrollable menubar">
        <div class="scrollable-content">
            <div class="list-group slidemenu" toggle="off" bubble target="mainSidebar">
                <nav class="main-menu">
                    <ul>
                        <li><a class="menup" href="#/home"><i class="fa fa-home"></i>&nbsp;Home</a></li>

                        <li><a class="menup" href="#/allcategories"><i
                                class="fa fa-folder-open"></i>&nbsp;Categories</a></li>
                        <ul>
                            <li ng-repeat="category in allcategories">
                                <a href="#/category/{{category.categoryid}}" ng-show="category.categoryid != '8'">{{category.categoryname}}</a>
                                <a href="#/cupcakecategory/{{category.categoryid}}"
                                   ng-show="category.categoryid == '8'">{{category.categoryname}}</a>
                            </li>
                        </ul>

                        <li><a class="menup" href=""><i class="fa fa-book"></i>&nbsp;Orders</a></li>

                        <ul>
                            <li><a href="#/pendingorders">Pending Orders</a></li>
                            <li><a href="#/orders/cancelled">Cancelled Orders</a></li>
                            <li><a href="#/orders/completed">Completed Orders</a></li>
                        </ul>

                        <li><a class="menup" href=""><i class="fa fa-credit-card"></i>&nbsp;Credits</a></li>
                        <ul>
                            <li><a href="#/creditnote">Credit / Debit Notes</a></li>
                            <li><a href="#/viewcredit">View Credits</a></li>
                        </ul>

                        <li><a class="menup" href="#/logout"><i class="fa fa-power-off"></i>&nbsp;Logout</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="app">
    <div class="sub-navbar navbar-app navbar-absolute-top" ng-show="defaultheader">
        <!--<span class="logotitle" id="logo-title"></span> -->
    </div>

    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top" ng-show="!defaultheader">

        <span class="innertitle " id="brand-title"></span>

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars color-red"></i>
            </div>
        </div>
        <div class="btn-group pull-right cart">
            <a ng-click="downloadcustomers()" class="btn btn-navbar"><i
                    class="fa fa-refresh">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
            <a ng-click="resetcart()" class="btn btn-navbar"><i class="fa fa-trash-o">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
            <a href="#/shoppingcart" class="btn btn-navbar"><i class="fa fa-shopping-cart"></i>&nbsp;<span class="topb">{{cartcnt}}</span></a>
            <!--<a href="#/ordershoppingcart" class="btn btn-navbar"><i class="fa fa-shopping-cart"  ></i>&nbsp;<span class="topb">2</span></a>-->
        </div>
    </div>

    <div class="app-body">
        <ng-view class="app-content"></ng-view>
    </div>
</div>

</body>
</html>

