body,html{font-size: 12px;}
.scrollable-content{ padding:0px 10px 10px; background: #ffffff; padding-top: 16px;}
.scrollable-content .home{background-color: #333; padding-top: 16px;}

.media{ padding: 10px;}
a.homelnk, a.homelnk:hover{display: inline-block; text-decoration: none; height:100%; width: 100%; padding: 20px 0px; background: rgba(0,76,157,0.5); color: #ffffff;}
a.homelnk:hover{ background: rgba(0,76,157,0.7);}
hr {
    border-color: rgba(155, 155, 155, 0.1);
    margin: 0;
    margin-top: 6px;
}
/* .col-sm-3{ border:1px solid #004CAD; padding:0px; text-align: center;} */
/*.col-xs-3{ border:1px solid #004CAD; padding: 0px; text-align: center;} */
.col-sm-3:first-child, .col-xs-3:first-child{margin-left: 4%;}
p.blue{color: #004c7d; font-size: 14px; padding-top: 5px;}
a{text-decoration: none; display: block;}

.navbar{min-height: 34px; padding-top: 16px;}
.sub-navbar{min-height: 51px;}
.navbar-absolute-top{ background-color: #333; border-bottom: 2px solid #333;}

.app-name + .scrollable, .sidebar-header + .scrollable {
    padding-top: 66px;
}
.app-name, .sidebar-header { line-height: 66px; background-color: #555 !important; }

.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid {
    border-color: #e5e5e5;
}

.inerror{ color : rgb(255, 0, 0);}
.suberror{ color : #fff;}
.sub-btn{
background-color: #3F51B5 !important;
border-color: none;
}
.formpadd{ margin-bottom :6px;margin-top:10px !important;}
.navbar-app .btn, .navbar-app .btn-navbar { color: #FFF; }

.navbar-absolute-bottom.homefooter {
    border-bottom: 0 none;
    border-top-width: 0px;
    bottom: 0;
    top: auto;
    background-color: #004c7d;
}
.logotitle{font-size:24px;position:relative;left:26px; color:#FFF; text-shadow:1px 1px 1px #000;line-height:50px;}
.innertitle{font-size:18px;position:relative;left:5px; color:#FFF; text-shadow:1px 1px 1px #000;line-height:50px;}

.label{top:-10px !important; padding: 0 !important; color: red; font-size: 11px;}

.fa-navbar { color: #004c7d;}
.navbar-absolute-bottom a{color: #004c7d !important;font-weight:bold;text-transform:none !important;}
.order{color:#449D44;}
li.menupadd{padding:10px 0px;font-size:18px;color:#7683B2;border-bottom:0px !important;}
/*.fa-file-pdf-o{ color: red;} */
/*.fa-map-marker{ color: #db4437;} */
.fa-map-marker.white{ color: #ffffff ;}
.fa-map-marker.black{ color: #000000 ;}
.fa-youtube-play{ color: #cc181e;}

.control-label { 
	font-size: 19px;
    line-height: 25px;
}
.searchTitle{ line-height: 30px; font-size: 16px; color: #f60087;}
/*
.subHeader{ background-color: #3f51b5 !important; margin: 0px -10px; padding:10px 10px 1px 10px; color: #ffffff important;border-bottom: 0px solid #ffffff !important;min-height: 35px;}
*/
.subHeader{ background-color: #000 !important; margin: 0px -10px;min-height: 32px; color: #ffffff !important; border-bottom: 0px solid #ffffff !important;}
.subHeader > h2 { display: block; width: 100%; font-size: 20px; text-align:left; min-height: 32px; padding: 7px 26px; }
.prodtit{font-size:14px;margin-bottom:2px;text-transform:uppercase;font-weight:bold;}
.subHeader a, a.dropdown-toggle{padding: 4px 8px 8px 8px; display: inline-block;}
.subHeader a i{ padding: 0px 0px 3px 5px; font-size: 24px !important; color: #ffffff;}
.fullimg{margin: 0px -10px;}
.mt10{margin-top: 10px;}
.cards{ 
  /*   -moz-box-shadow: 1px 1px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    	box-shadow: 1px 1px 3px #ccc; */
	margin-bottom: 15px;
	border-bottom:1px solid #CCC;
	padding-bottom:20px;
 }
.shopcart{clear:both;overflow:hidden;padding-bottom:10px;margin-bottom:10px;}
.imgPlace{ min-height: 113px; background: #e5e5e5 url(../img/icon.png) center center no-repeat; }
.newsdate{ padding-bottom: 10px; color: #004c7d;}
a.list-group-item{padding: 2px; color: #555555; border:0px solid; }
a.list-group-item.active{ background-color: #ffffff !important; text-align: center;}
.list-group-item-heading{color: #004c7d !important; margin-top: 4px;}
a.list-group-item span{color: #555555;}

.btn{font-size: 16px; text-transform: none;}
.btn.sub-tab{font-size: 13px; text-transform: none !important; line-height: 34px; color: #222; border-left: 1px solid #ccc;}
.btn.sub-tab:first-child{border-left-width: 0px;}
.btn-color { background-color: #777777 !important;border-radius:0px;border-color:#777777 !important;}
.btn.tabactive{ background-color: #5677fc; color: #ffffff;}
.btn.tabactive i{ color: #ffffff;}
.btn.tabactive:hover{ color: #ffffff;}
a.btn-navbar{padding-left: 0px !important;}
tr:nth-child(2n+1){background-color: #f5f5f5;}
.optionpadd { padding: 20px;}
.form-group { padding: 0px; margin-bottom: 15px;}
.form-group { padding: 0px; margin-bottom: 15px;}
.form-group .btn { margin-top: 5px;}
.form-group select { padding: 5px;}

.padd-btn{ margin-top:10px; }

.sidebar-left{background-color: #004c7d;}
.slidemenu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}
.slidemenu ul li {
	list-style-type: none;
	margin: 0px;
	border-bottom: 1px #555 solid;
}
.slidemenu ul li a:link, .slidemenu ul li a:visited {
	font-weight: 100;
	color: #f9f9f9;
	font-size: 16px;
	text-decoration: none;
	display: block;
	padding: 10px 0px 10px 10px;
}

.borderbt{border-bottom: 1px #555 solid;}

.slidemenu ul li a:hover, .slidemenu ul li a:active {
	color: #FFF;
}

.slidemenu ul li ul{
	margin-left: 0px;
}
.slidemenu ul li ul li {
	border-bottom: 1px #ccc solid;
}



.slidemenu ul li img {
	color: #222222;
}


.slidemenu_btn .ui-icon-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,0);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,0);
	box-shadow: 0 0px 0 rgba(255,255,255,0);
}

.slidemenu_btn .ui-btn-inner {
	border-top: 0px;
}
.slidemenu_btn .ui-icon {
	margin: 4px 1px 2px 2px !important;
	width: 25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.slidemenu_btn .ui-icon, .ui-icon-searchfield::after {
	background: none;
}

.slidemenu_btn.ui-btn-icon-notext {
	width: 30px;
}
.img-block
{
	 height:64px;
	 width:109px;
}

/* Animation */
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave { left: 0;}
.slide.ng-leave-active { left: -100%;}
.noresult
{
	color:red;
	font-size: 14px;
	padding-top: 10px;
	text-align:center;
}
.form-control :focus{ border-color:none; }
.about
{
	text-align:justify;
	padding-top:10px;
}
.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px 15px;
}
.breadcrumb > li + li:before {
    color: #000000;
    content: "/ ";
    padding: 0 5px;
}
.dropdown-menu{left:0px !important; top:35px !important;}
.sub-label {color: #fff;}
.breadcrumb {list-style: none outside none;}
.breadcrumb > .active {color: #000;}
.breadcrumb > li {display: inline-block;}
li a.dropactive {background-color: #5677fc; color: #ffffff;}
li a:hover{ color: #ffffff;}
li a.dropactive:hover{ background-color: #5677fc;color: #ffffff;}
.notification a h4,p{ color: #555555; }
.notification a:hover {text-decoration: none;}
/* .panel-heading{background-color: #3F51B5 !important;}
.panel-title a span {color : #fff; font-size:15px;}
.panel-title a:hover {text-decoration: none; }
.panel-title a{text-decoration: none;} */
.subscribe-footer{background-color: #fff;border-top-width:0px;}
.panel-heading a i{
padding: 8px;
color: #fff;
display: inline-block;
text-decoration: none;
}
.carousel-indicators{display: none;}

.browser-android select {    
  -webkit-appearance: listbox;
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-right: 20px;
  padding-left:20px;
  height : 300px;
}
.social-link {text-decoration:none;display:block;width:100%;border-bottom: 1px solid #e5e5e5;padding:4px;}
.social-link:hover{text-decoration:none;}
.rate {text-align:center;margin-top:20px;margin-bottom: 10px;}
.rate-btn{font-size: 10px;}
.support{text-align: center;}
.heart-red{color: red;}
.heart-red:hover{color: rgba(255, 0, 189, 1);}
.app-support:hover{text-decoration:none;}
input[type="radio"] { margin: 10px 4px 0px; }
.radio-span{font-size:12px;}
.radio-label{font-size:14px;padding-top:12px;padding-bottom:3px;color: #3f51b5 !important;}
.search-btn{font-size:12px;padding : 6px 8px;;background-color:#ccc;border-color:#fff;color:#000;}
.search-btn.active {background-color:#666;border-color:#fff;}
.search-btn:hover{ 
color: #FFF;
background-color: #666;
border-color: #fff;
}
.search-grp{padding-top:3px;}
.padd-btn1{margin-top: 15px;}
.color-red { color : #FFF; }
.searchbtm{ position: absolute; bottom: 0; }
.searchbtm{ width: 100%; max-width: 100%; height: auto;}
.logo-img{margin-bottom: 5px;}
.qty .form-control {
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    color: #555;
    display: block;
    font-size: 12px;
	font-weight:bold;
    height: 25px;
    line-height: 1.42857;
    padding: 6px 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 25px !important;
	text-align:center;
}
.shopcart .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 0;
    padding:0px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}
.soprate{color:#DB241C;}
.shopcart .btn-info {background-color:transparent;border:0px solid #CCC;color:#dd4814;padding: 0px 15px;}
.qty .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 0;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.qty .btn-info {background-color:transparent;border:1px solid #CCC;color:#018FC3;}
.qty i{color:#DB241C;}
.price{padding:5px 0px;font-weight:bold;color:#DB241C;}
.form-control {
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.home-img{margin-top:10px;}
td a:hover {color : #000000;text-decoration: none;}
td a {color : #273785;}
.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
}

.img-container .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
    max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
}
.optlist{padding-left: 0px;}
.homepadd {
	font-size:18px !important;
	color:#7683B2 !important;
	padding-left: 0 !important;}
.subcat a{padding-left:20px !important;}
.additional {font-size:14px;!important}
.model-cl{padding-top:9px;}
.cart {
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.cart span{font-size:10px;color: #fff;}
.cart .fa-shopping-cart{font-size:26px;}
.topb {
   
    margin-top: 0;
   
    position: relative;
    top: -10px;
}
.hasresult{color : green;}
ul.liSelect{ margin:10px 0; padding: 0; list-style-type: none;}
ul.liSelect li{ 
   border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    line-height: 44px;
    padding-left: 10px; }
ul.liSelect li a:hover{cursor: pointer;color:#000 !important;text-decoration: none;}
ul.liSelect li a{color: #273785 !important;}



/* Loader */
.loading {
    background-color: transparent;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50px;
}
.loading .spacer {
    height: 20%;
}
.ouro {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin: -25px 0 0 -25px;
    overflow: hidden;
    position: relative;
    width: 50px;
}
.ouro:after {
    background: none repeat scroll 0 0 #2980b9;
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 20px;
}
.ouro .anim {
    animation: 2s ease 0s normal none infinite ui-spinner-rotate-left;
    background: none repeat scroll 0 0 #94c7e7;
    border-radius: 999px;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    transform-origin: 0 50% 0;
    width: 100%;
}
.ouro > span {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}
.ouro > span.left {
    left: 0;
}
.ouro > span.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.ouro > span.right {
    left: 50%;
}
.ouro > span.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    transform-origin: 100% 50% 0;
}
@keyframes ui-spinner-rotate-right {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes ui-spinner-rotate-left {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.menup {
    color: #FFF !important;
    font-size: 18px !important;
    padding: 10px 0 !important;
}

.checkbox {font-size: 15px;}

ul.liSelection{ margin:10px 0; padding: 0; list-style-type: none;}
ul.liSelection li{    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    line-height: 44px;
    padding-left: 10px; }
ul.liSelection li:hover{background-color: #e5e5e5; cursor: pointer;}
ul.liSelection li a:hover{text-decoration:none;color:#000;}
ul.liSelection li a{text-decoration:none;color:#000;}
/* Ankit */
.bg{background-color:#333;height:41px;margin-top:-12px;}
.cust .scrollable-content{padding:0px;}
.menubar .scrollable-content{background-color:#333;}
.home .form-control{height:36px;margin-top:5px;}
.homebtn  .btn{border-radius:0px;}
.homebtn  .col-xs-6{padding-left:0px;padding-right:0px;}
.custsrc .col-xs-2,.custsrc .col-xs-10{padding-left:0px;padding-right:0px;}
.custsrc .btn{border-radius:0px;}
.pendingo .btn,.cancelled .btn {margin-top:0px;}
.pendingo .form-control,.cancelled .form-control{height:36px;}
.custsrc .form-control{height:36px;}
.veiwcredit .btn{border-radius:0px;margin-top:0px;}
.veiwcredit .form-control{height:36px;}
.custsrc .btn-success, .selcust .btn-success {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.custsrc .btn-success:hover ,.selcust .btn-success:hover {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.category .btn-success ,.cupcake .btn-success {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.category .btn-success:hover,.cupcake .btn-success:hover {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.login-btn .btn-success {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.login-btn .btn-success:hover {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.btn-success {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.btn-success:hover {
  color: #fff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.ac-container {top:36px !important;}
.homebtn .btn{border-radius:0px;}
.homebtn .btn-success-line {
  color: #fff;
  background-color: #333;
  border-color: #333;
  border-right:1px solid #888;
  
}
.homebtn .btn-success-line:hover {
  color: #fff;
  background-color: #555;
  border-color: #555;
}
.homebtn .btn-success {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.homebtn .btn-success:hover {
  color: #fff;
  background-color: #555;
  border-color: #555;
}
.allcat .well {
  border-left: 3px solid #666;
  border-radius: 0px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 10px;
}
.slcu{float:left;margin-top:8px;}
.selcust{margin-top:20px;}
.selcust .well {
  border-left: 3px solid #666;
  border-radius: 0px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 10px;
  overflow:hidden;
}
.selcust .btn{border-radius:0px;}
.shop .well{
  border-left: 3px solid #666;
  border-radius: 0px;
  font-weight: bold;
  padding: 10px 10px;
}
.veiwcredit .subtit{
  border-left: 3px solid #666;
  border-radius: 0px;
  font-weight: bold;
  padding: 10px 10px;
  background-color:#f7f7f9;
  margin-bottom:5px;
}
.cancelled .subtit ,.pendingo .subtit {
  border-left: 3px solid #666;
  border-radius: 0px;
  font-weight: bold;
  padding: 10px 10px;
  background-color:#f7f7f9;
  margin-bottom:5px;
}
.cancelled a,.subtit a {color:#000;}
.shop .title {
  border-left: 3px solid #dd4814;
  border-radius: 0px;
  font-weight: bold;
  padding: 5px 10px;
  background-color:#F5F5D5;
  font-size:16px;
}
.shop .panel-title{font-size:14px;}
.shop .panel-default .panel-heading{padding:5px 10px;}
.shop .panel-heading{background-color:#e5e5e5;}
.shop .panel-title{color:#000;}
.shop .panel{margin-bottom:0px;}
.shop .panel-body{line-height:20px;}
.category .tit,.veiwcredit .tit{
  border-left: 3px solid #dd4814;
  border-radius: 0px;
  font-weight: bold;
  padding: 5px 10px;
  background-color:#F5F5D5;
  font-size:16px;
  margin-bottom:15px;
  }
.cup .col-xs-2{padding-left:0px;padding-right:0px;margin-bottom:5px;}
.cup .col-xs-6{padding-left:0px;padding-right:0px;margin-bottom:5px;}
.cup input[type=checkbox], input[type=radio]{height:18px;width:18px;}
.cup .btn{height:34px;margin-top:0px;border-radius:0px;}
.category .control-label{font-size:16px !important;}
.category .form-group{padding-bottom:60px !important;clear:both;}
.cupcake .control-label{font-size:16px !important;}
.cupcake .form-group{padding-bottom:60px !important;clear:both;}
.category .mt,.cupcake .mt{padding-top:20px;}
.category .quantity .col-xs-2.left{padding-right:0px;padding-left:0px;}
.category .quantity .col-xs-2.right{padding-left:0px;padding-right:0px;}
.category .quantity .col-xs-8 {padding-right:0px;padding-left:0px;}
.category .quantity .btn{height:34px;margin-top:0px;border-radius:0px;}
.login .form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc #ccc #000;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    box-shadow: none;
	border-radius:0px;
}
.login .input-group-addon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc #ccc #000;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 1px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 0px 6px 12px;
    text-align: center;
	border-radius:0px;
}
.ac-menu {height:200px;overflow-y:scroll;overflow-x:hidden;}
.hme .tit {
  border-left: 3px solid #dd4814;
  border-radius: 0px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #F5F5D5;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.hmebtn { margin-left: 15px;margin-right: 15px;}
/* Last Edit*/
.cart .fa-trash-o{font-size:26px;}

.padd{padding:10px;}
.navbar-absolute-bottom a{color: #FFF !important;font-weight:bold;text-transform:none !important;text-decoration:none;}
.navbar-absolute-bottom{background-color:#333;min-height:28px!important;padding-top:0px}
.cupcake .tit {
  border-left: 3px solid #dd4814;
  border-radius: 0px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #F5F5D5;
  font-size: 16px;
}

.pendingorder .tit {
  border-left: 3px solid #dd4814;
  border-radius: 0px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #F5F5D5;
  font-size: 16px;
}
.nomargin {margin : 0px;}

.ac-container {left:15px !important;}
.hme .ac-container {left:0px !important;}


