<div class="scrollable">
  	<div class="scrollable-content pendingo">
		<br>
		<span ng-show="!loader">
				<p></p>
				<form  role="form" name="pendingordersform" novalidate>
				<div class="form-group">	
					<label for="inputName" class="col-xs-12 control-label">Date</label>
					<div class="col-xs-12">
							<p class="input-group ">
							<input type="text" class="form-control" readonly datepicker-popup="dd-MM-yyyy" id="start" name="start" ng-model="start" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" required date-disabled="disabled(date, mode)"  close-text="Close" />
							<span class="input-group-btn">
							 <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>		  
							</span>
					</p>
					</div>
					 <span  class= "inerror col-sm-12" ng-show="pendingordersform.start.$touched && pendingordersform.start.$error.required">Please select the Date</span>
					</div>
					<div class="form-group">		
					<div class="col-xs-12">
						<button class="btn btn-success col-xs-12"  ng-click="submitTheForm();" style="opacity: 1; !important">Search</button>
					</div>
				</div>
				</form>	
				<div class="col-xs-12"><br></div>
				<div class="col-xs-12 rowmargin" ng-repeat="order in orders">
                   
					<div class="subtit ">
                     <a href="#/pendingorderdetail/{{order.orderid}}" style="opacity: 1; !important">
						<div class="detail">
							Order No : {{order.orderid}}
						</div>
						<div class="detail">
							Customer Name : {{order.name}}
						</div>
						<div class="detail">
							Customer Mobile no : Rs. {{order.mobileno}}
						</div>
						<div class="detail">
							Order Total : Rs. {{order.ordertotal}}
						</div>
						<div class="detail">
							Advance Payment : Rs. {{order.advancepayment}}
						</div>
						<div class="detail">
							 Payment Left : Rs. {{order.leftbalance}}
						</div>
						<div class="detail" ng-show="order.ordersstatus == 'Ready'">
							<span style="color : #dd4814;">Ready</span>
						</div>
                        </a>
					</div>
                    
				</div>
				
				<p class="noresult" ng-show="orders.length == 0">No Orders .
				</p>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
</div>
</div>
