<div class="scrollable">
  	<div class="scrollable-content">
	
	  		<div class="col-sm-12">
				<div class="col-sm-6">	
						<img class="img-responsive" src="{{productdetail.image}}">
				</div>
				
	  			<div class="col-sm-6">
						<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr ng-repeat = "option in productdetail.specifications">
								  <td><b>{{option.name}} </b></td>
								  <td>{{option.value}} </td>
								</tr>
						     </tbody>
						 </table>
						</div>
						
				</div>	
					
				</div>
				<div class="col-sm-12">
				<div class="qty ">
					&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-info "  ng-click=addtocart(); ><i class="fa fa-shopping-cart"></i>&nbsp;Buy</button>
				</div>
				
				
	  		
	  		<p><br></p>
			
  	</div>
</div>



