<div class="scrollable">
  	<div class="scrollable-content catorder">
		
		<span ng-show="!loader">
		
			<span ng-show="deliverydate !=''">
				<br>
				<div class="alert alert-success"> Delivery Date : {{deliverydate}}</div>
				<div class="col-xs-12 " ng-repeat="order in categoryorders">
					<div class="thumbnail">
						<div class="details">
						Product Name : {{order.product_name}} 
						</div>
						<div class="details" ng-show="order.weight!='0'">
						Weight : {{order.weight}}
						</div>
						<div class="details" ng-show="order.products_specification!=''">
						Specification : {{order.products_specification}}
						</div>
						<div class="details">
						Quantity : {{order.products_qty}}
						</div>
						<div class="details" >
							<div ng-repeat="opt in order.attributes">
								<span ng-show="opt.option_value != 'Other'">{{opt.option_value}}</span>
								<span ng-show="opt.option_value == 'Other' && opt.option_other != ''">{{opt.option_other}}</span>
							</div>
						</div>
						<div class="details" ng-show="order.products_image != ''">
							<button class="btn btn-success" style="opacity: 1; !important" ng-click="openimg(order.products_image)">View Image</button>
						</div>
						
					</div>
				</div>
				
				<!-- Modal Box -->
				<script type="text/ng-template" id="imgModalContent.html">
					
				<div class="modal-header">
					<h3 class="modal-title">Image</h3>
				</div>
				
				<div class="modal-body">
				
				  <img src = "{{imgsrc}}" class="img-responsive" alt="No-Image">
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" style="opacity: 1; !important" ng-click="cancel()">Cancel</button>
				</div>
				</script>
		
				<!-- End Of Modal Box -->
			
			</span>
			<span ng-show="deliverydate =='' || categoryorders.length == 0">
			<p class="noresult"> No Products found.</p>
			
			</span>
			<div class="col-xs-12">
				<br><br>
			</div>
			
		</span>
		
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
  	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" ng-click="go('/home')" style="opacity: 1; !important" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>
