<div class="scrollable">
  	<div class="scrollable-content pendingorder">
	<p></p>
	
	
		<span ng-show="!loader">
		<div class="col-xs-12">
		<div class="tit">
			Customer Name : {{orderdetail.name}}
			<br>
			Customer Mobile No : {{orderdetail.mobileno}}
		</div>
		
		<div class="tit">
			Order Date : {{orderdetail.orderdate}}
			<br>
			Delivery Date : {{orderdetail.delivery_date}}
			<div class="detail" ng-show="orderdetail.delivery_time.length != 0">
				<br>Delivery Time : {{orderdetail.delivery_time}}
			</div>
			
			<div class="detail" ng-show="orderdetail.delivery_address.length != 0">
				<br> Delivery Address : {{orderdetail.delivery_address}}
			</div>
		</div>
		
		<div class="tit" ng-show="orderdetail.discount == 'Y'">
			Sub Total : Rs. {{orderdetail.orders_subtotal}} <br>
			Discount : Rs. {{orderdetail.orders_discount}} <br>
			Total : Rs. {{orderdetail.orders_total}} <br>
		</div>
		
		<div class="tit" ng-show="orderdetail.discount == 'N'">
			Total : Rs. {{orderdetail.orders_total}} <br>
		</div>
		<!--
		<div class="detail" >
			Advance Payment : {{orderdetail.advance_payment}}
		</div>
		
		<div class="detail">
			Left Balance : {{orderdetail.left_balance}}
		</div>
		-->
		
		<!-- Products -->
		
		<div>
			<br>
				<div class="alert alert-success">
					<h5>Products</h5>
				</div>
				<table class="table" width="100%">
					<tr>
						<th width="10%">Srno</th>
						<th width="30%">Category</th>
						<th width="30%">Product</th>
						<th width="30%">Type</th>
					</tr>
			
					<tr ng-repeat="product in orderdetail.products">
						<th>{{$index + 1}}</th>
						<th>{{product.categoryname}}</th>
						<th>{{product.productname}}</th>
						<th>{{product.pricetype_name}}</th>
					</tr>
				</table>
	    </div>
		</div>
		<div class="col-xs-12">
			<br><br>
		</div>
		</span>	
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
	
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" style="opacity: 1; !important"  ng-click="go('/home')" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>



