<div class="scrollable">
  	<div class="scrollable-content pendingorder">
	
		<span ng-show="!loader">
		<span ng-show="!specificationdiv">
		<p></p>
		<div class="tit">
			Customer Name : {{orderdetail.name}}
			<br>
			Customer Mobile No : {{orderdetail.mobileno}}
		</div>
		
		
		<div class="tit">
			Order Date : {{orderdetail.orderdate}} <br>
			Delivery Date : {{orderdetail.delivery_date}}
		
			<div class="detail" ng-show="orderdetail.delivery_time.length != 0">
				<br> Delivery Time : {{orderdetail.delivery_time}}
			</div>
		
			<div class="detail" ng-show="orderdetail.delivery_address.length != 0">
				<br>
				Delivery Address : {{orderdetail.delivery_address}}
			</div>
            
            <div class="detail" ng-show="orderdetail.branch.length != 0">
                <br>
                Branch : {{orderdetail.branch}}
            </div>
			
		</div>
		
		<div class="tit" ng-show="orderdetail.discount == 'Y'">
			Sub Total : Rs. {{orderdetail.orders_subtotal}} <br>
			Discount : Rs. {{orderdetail.orders_discount}} <br>
			Total : Rs. {{orderdetail.orders_total}} <br>
		</div>
		
		<div class="tit" ng-show="orderdetail.discount == 'N'">
			Total : Rs. {{orderdetail.orders_total}} <br>
			Advance Payment : Rs. {{orderdetail.advance_payment}}<br>
			Balance Amount : Rs. {{orderdetail.left_balance}}
		</div>
		
		<!-- Products -->
		
		<div>
			<br>
				<div class="alert alert-success">
					<h5>Products</h5>
				</div>
				<table class="table" width="100%">
					<tr>
						<th width="5%">Srno</th>
						<th width="30%">Category</th>
						<th width="30%">Product</th>
						<th width="30%">Type</th>
						<th width="5%">Action</th>
					</tr>
			
					<tr ng-repeat="product in orderdetail.products">
						<th>{{$index + 1}}</th>
						<th>{{product.categoryname}}</th>
						<th>{{product.productname}}</th>
						<th>{{product.pricetype_name}}</th>
						<th><a ng-click="showspecification(product.opid,$index)" style="opacity: 1; !important" href=''>Edit</a></th>
					</tr>
				</table>
	    </div>
	  
	   
	   <div class="form-group">
				<label for="inputEmail" class="col-xs-12 control-label">Select Status</label>
				<div class="col-xs-12">
				<select ng-model = "selectedtype" class="form-control" ng-change="showamt()">
					<option value="ready" >Ready</option>
					<option value="cancel" >Cancel</option>
					<option value="complete" >Complete</option>
				</select>
				</div>
		</div>
		
		<div class="form-group" ng-show="selectedtype == 'cancel'">
			<label class="col-xs-12 control-label"> <br>Rs. {{orderdetail.advance_payment}} will be credited to {{orderdetail.name}} . </label>
			
		</div>
		
		<span ng-show="showamount">
		<label class="col-xs-12 control-label" ng-show="showcredit"> <br>
		Credit Amount : Rs. {{totalcredit}}
		</label>
		<div class="form-group" ng-show="showcredit">
			<label for="password" class="col-xs-12 control-label"> Credit Amount</label>
			<div class="col-xs-12">
				<input type="number" class="form-control " readonly id="creditamount" name="creditamount" placeholder="* Credit Amount" ng-model="credit"  value="" > 		
			</div>
		</div>
			
			
		<div class="form-group">
			<label for="password" class="col-xs-12 control-label"> Payable Amount</label>
			<div class="col-xs-12">
				<input type="number" class="form-control " readonly id="remainingamt" name="remainingamt" placeholder="* Remaining Amount" ng-model="remainingamt"  value="" > 		
			</div>
		</div>
		
		
		</span>
		<div class="formpadd clearfix"></div>
		
  		<div class="form-group">
    		<div class="col-sm-12 padd-btn">
      		<button type="button" class="btn btn-success btn-block" ng-click="submitTheForm()" style="opacity: 1; !important">Submit</button>
    		</div>
  		</div>
		<div class="col-xs-12">
				<br><br>
		</div>
		
		</span>	
		
		
		<span ng-show="specificationdiv">
			<div class="subHeader"><a ng-click="hidespecification()" class="pull-left" style="opacity: 1; !important"><i class="fa fa-angle-left">&nbsp;&nbsp;&nbsp;</i></a><h2>Back</h2></div>
			
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Specification</label>
			<div class="col-xs-12">
				<textarea ng-model="specification" class="form-control " rows="5"></textarea>
			</div>
		</div>
			
		<div class="formpadd clearfix"></div>
		
  		<div class="form-group">
    		<div class="col-sm-12 padd-btn">
      		<button type="button" class="btn btn-success btn-block" ng-click="submitspecification(oproductid,ind)" style="opacity: 1; !important">Edit</button>
    		</div>
  		</div>
  		
		</span>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
	
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		<center><a href="" ng-click="go('/home')" style="opacity: 1; !important" class="btn btn-navbar btn-icon-only"><i class="fa fa-home"></i></a></center>
	</div>
</div>



