<div class="scrollable">
  	<div class="scrollable-content shop">
	
	<span ng-show="!detailform">
	<p></p>
	<span ng-show="!noproducts">	
		<br>
		<div  class="col-xs-12">
		<div class="well" ng-show="$storage.customer_id != '0'"> Customer Name : {{$storage.customer_name}} <br> Delivery Date : {{$storage.order_deliverydate}}</div>
		<div class="alert alert-danger" ng-show="$storage.customer_id == '0'"> No Customer Selected.</div>
		</div>
	
		<div  class="col-xs-12 shopcart" ng-repeat="product in cart">	
			<p class="title" ng-show="product.c_id != currentcatid || $index == 0"> <b>{{product.c_name}} </b></p>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">{{product.p_name}} <button type="button" class="btn btn-info pull-right" ng-click ="removefromcart(product.id)" title="Remove from Cart" style="opacity: 1; !important"><i class="fa fa-trash-o"></i></button></span>
				</div>
				<div class="panel-body">
					<div ng-show="product.image_url !=''" class="col-xs-12 pull-left">
						{{updateimg(product.id,product.image_url)}}
						<img  style="width:100px;height:100px;" class="img-reponsive" id="myImage_{{product.id}}" src=""/>	
						<br><br>
					</div>
					<div class="col-xs-12">
					<span>
					Qty : {{product.qty}}</span>
					<span ng-show="product.has_weight=='Y'"><br>Weight : {{product.weight}}</span>
					<span ng-show="product.specification.length !='0'"><br>Specification : {{product.specification}}</span>
					<span ng-show="product.flat_price=='Y'"><br>Price Type : {{product.ftype_name}} -  Rs. {{ product.fprice}}</span>
					<span ng-show="product.flat_price=='N'"><br>Price Type : {{product.ptype_name}} -  Rs. {{ product.pprice}}</span>
					<span ><br>Amount : Rs. {{product.amount}} </span>
					<span ng-show="product.add_amt != '0' && product.add_amt != '0.0' "><br>Additional Amount : Rs. {{product.add_amt}}</span>
					{{updatecat(product.c_id)}}
					<span ng-repeat="opt in optns[$index]">
						<br>
					{{opt.option_name}}<span ng-show="opt.oqty != '0'"> ( {{opt.oqty}} )</span>
					<span ng-show="opt.option_id == '0' && opt.other.length!= '0'"><br>Other Specification : {{opt.other}}</span>
					</span>
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-xs-12">
			<br><br>
		</div>
	</span>
	
	<span>
		<p class="noresult" ng-show="noproducts">No Products in your Cart .. </p>
	</span>
	</span>
	
	<span ng-show="detailform">
		<span ng-show="!loader">
		<div class="subHeader"><a ng-click="refresh()" class="pull-left" style="opacity: 1; !important"><i class="fa fa-angle-left">&nbsp;&nbsp;&nbsp;</i></a><h2>Back</h2></div>
		
		<br>
		<div class="well" ng-show="$storage.customer_id != '0'"> Customer Name : {{$storage.customer_name}} <br> Delivery Date : {{$storage.order_deliverydate}}</div>
		<div class="alert alert-danger" ng-show="$storage.customer_id == '0'"> No Customer Selected.</div>
		<div class="alert alert-info" ng-show="$storage.has_credit == 'Y'">Credit Amount : Rs. {{$storage.credit_amount}}</div>
		
		<!--
		<div class="form-group">	
			<label for="inputName" class="col-xs-12 control-label">Delivery Date</label>
			<div class="col-xs-12">
					<p class="input-group ">
					<input type="text" class="form-control" readonly datepicker-popup="dd-MM-yyyy" id="start" name="start" ng-model="delivery_date" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" required date-disabled="disabled(date, mode)"  close-text="Close" />
					<span class="input-group-btn">
					 <button type="button" class="btn btn-default" ng-mobile-click="open($event)"><i class="fa fa-calendar"></i></button>		  
					</span>
					</p>
			</div>
		
		</div>
		-->
		
		<!--
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Delivery Date</label>
			<div class="col-xs-12">
				<input type = "text" class="form-control "  ng-model="delivery_date">
			</div>
		</div>
		-->
        <div class="form-group">
            <label for="inputEmail" class="col-xs-12 control-label">Branch</label>
            <div class="col-xs-12">
                <select ng-model="branch" name="branch" class="form-control">
                    <option value="Parle Point">Parle Point</option>
                    <option value="Varachha">Varachha</option>
                    <option value="Vesu">Vesu</option>
                </select>
            </div>
        </div>
		
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Delivery Time</label>
			<div class="col-xs-12">
				<input type = "text" class="form-control "  ng-model="delivery_time" placeholder = "* 00:00">
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Delivery Address</label>
			<div class="col-xs-12">
				<textarea ng-model="delivery_address" class="form-control " rows="5"></textarea>
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Total Amount</label>
			<div class="col-xs-12">
				<input type = "number" ng-model="totalprice" readonly  class="form-control " >
			</div>
		</div>
		
		<div class="form-group" ng-show="showdiscount">
			<label for="inputEmail" class="col-xs-12 control-label">Discount (Rs.)</label>
			<div class="col-xs-12">
				<input type = "number" ng-change="calculatediscount()" ng-model="discount" class="form-control " placeholder="* Discount">
			</div>
		</div>
		
		
		<span ng-show="$storage.has_credit == 'Y'">
			<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Credit Amount (Rs.)</label>
			<div class="col-xs-12">
				<input type = "number" ng-model="credit_amount" id="creditamt" readonly class="form-control " placeholder="* Credit Amount">
			</div>
			</div>
		</span>
		
		
		
		
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Final Amount</label>
			<div class="col-xs-12">
				<input type = "number" ng-model="finalamt" class="form-control " >
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Advance Amount</label>
			<div class="col-xs-12">
				<input type = "number" ng-model="advance_amount" class="form-control " ng-change="calculatediscount()">
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail" class="col-xs-12 control-label">Balance Amount</label>
			<div class="col-xs-12">
				<input type = "number" ng-model="left_amount" class="form-control " >
			</div>
		</div>
		<div class="col-xs-12"><br><br><br></div>
		
		<div class="formpadd clearfix"></div>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
		
	</span>
  	</div>
</div>

<span ng-show="!detailform">
<div class="navbar navbar-app navbar-absolute-bottom" ng-show="(cart != null) && (cart.length!= 0)">
    <div class="btn-group justified">
		<a ng-click="confirmorder()" style="opacity: 1; !important" class="btn btn-navbar"><span class="pull-left order">&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i>&nbsp;Confirm Order</span></a>
	</div>
</div>
</span>

<span ng-show="detailform">
	<div class="navbar navbar-app navbar-absolute-bottom" ng-show="(cart != null) && (cart.length!= 0)">
    <div class="btn-group justified">
		<a ng-click="checkout()" style="opacity: 1; !important" class="btn btn-navbar"><span class="pull-left order">&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i>&nbsp;Place Order</span></a>
	</div>
</div>
	
	
</span>



