<div class="scrollable">
  	<div class="scrollable-content">
		<br>
		<span ng-show="!loader">
  	 	
		<form  name="loginform" class="login" role="form" novalidate>
        
        <div class="form-group">
   	   	<div class="col-xs-12">
   	   	<div class="input-group">
   	   	<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
      		<input type="text" class="form-control " id="firstname" name="firstname" placeholder="* Firstname" ng-model="formInfo.firstname"  value="" ng-required="true" > 		
				</div>    		
    		</div>
    		
    		<span  class= "inerror col-xs-12" ng-show="loginform.firstname.$touched && loginform.firstname.$error.required">Please enter Firstname</span> 
  		</div>
        
        <div class="form-group">
   	   	<div class="col-xs-12">
   	   	<div class="input-group">
   	   	<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
      		<input type="text" class="form-control " id="lastname" name="lastname" placeholder="* Lastname" ng-model="formInfo.lastname"  value="" ng-required="true" > 		
				</div>    		
    		</div>
    		
    		<span  class= "inerror col-xs-12" ng-show="loginform.lastname.$touched && loginform.lastname.$error.required">Please enter Lastname</span> 
  		</div>
            
  		<div class="form-group">
   	   	<div class="col-xs-12">
   	   	<div class="input-group">
   	   	<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
      		<input type="text" class="form-control " id="username" name="username" placeholder="* Username" ng-model="formInfo.username"  value="" ng-required="true" > 		
				</div>    		
    		</div>
    		
    		<span  class= "inerror col-xs-12" ng-show="loginform.username.$touched && loginform.username.$error.required">Please enter Username</span> 
  		</div>
            
  		<div class="formpadd clearfix"></div>
  		<div class="form-group">
   	   	<div class="col-xs-12">
   	   	<div class="input-group ">
   	   	<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lock"></i></span>
      		<input type="password" class="form-control " id="password" name="password" placeholder="* Password" ng-model="formInfo.password" value="" ng-required="true"> 		
    			</div>
    			</div>
    		<span  class= "inerror col-xs-12" ng-show="loginform.password.$touched && loginform.password.$error.required">Please enter Password</span> 
  		</div>
  		<div class="formpadd clearfix"></div>
  		<div class="form-group">
    		<div class="col-sm-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-color sub-btn btn-block col-sm-12" ng-click="submitTheForm()" ng-disabled="loginform.$invalid">Sign Up</button>
    		</div>
  		</div>
        
        <div class="form-group">
    		<div class="col-sm-12 padd-btn">
      		<button type="button" class="btn btn-info btn-color sub-btn btn-block col-sm-12" ng-click="goToLogin()" >Back to Login</button>
    		</div>
  		</div>
            
		</form>
		</span>
		<div class="responsive-container" ng-show="loader">
            <div class="dummy"></div>
            <div class="img-container">
                <div class="centerer"></div>
                <img src="img/loading.gif"  ng-show="loader">
            </div>
    </div>    
  	</div>
 </div>
<div class="navbar navbar-app navbar-absolute-bottom" >
    <div class="btn-group justified">
		
	</div>
</div>
